In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../Data/filtered_df.csv')
df.head()

,Unnamed: 0,Date,Location,Demographic_Category,census,Not_Vaccinated,Administered_Dose1,Series_Complete_Yes
0,882360,2021-12-30,1,1,52055.0,3116.0,48939.0,42161.0
1,882361,2021-12-30,2,1,481323.0,123150.0,358173.0,262023.0
2,882362,2021-12-30,35,26,135005.0,103698.0,31307.0,20149.0
3,882363,2021-12-30,36,26,133254.0,120857.0,12397.0,6750.0
4,882364,2021-12-30,37,28,526217.0,105711.0,420506.0,358267.0

In [3]:
df.drop(columns='Unnamed: 0',inplace=True)

In [4]:
df.head()

,Date,Location,Demographic_Category,census,Not_Vaccinated,Administered_Dose1,Series_Complete_Yes
0,2021-12-30,1,1,52055.0,3116.0,48939.0,42161.0
1,2021-12-30,2,1,481323.0,123150.0,358173.0,262023.0
2,2021-12-30,35,26,135005.0,103698.0,31307.0,20149.0
3,2021-12-30,36,26,133254.0,120857.0,12397.0,6750.0
4,2021-12-30,37,28,526217.0,105711.0,420506.0,358267.0